.header {
  display: flex;
}
.title {
  text-align: center;
  width: calc(100% - 80px);
}

.header-image {
  width: 100%;
  height: 300px;
  max-height: 400px;
}

.app-wrapper{
  max-width: 1200px;
  margin: auto;
}

.gallery-section {
  column-count:         2;
  column-gap:           20px;    
}

.gallery-image {
  width: 100%;
  margin: 10px 0px;
}

.loadmore {
  padding: 10px 15px;
  font-size: 14px;
  display: block;
  margin: 30px auto;
}

.visible {
  visibility:inherit;
}

.hide {
  visibility:hidden;
  position: absolute;
}

.skeleton {
  background: #f2f2f2;
  height: 300px;
  margin: 10px 0px;
}

.d-none {
  display: none;
}



@media only screen and (max-width: 600px) {
  .gallery-image {
    margin: 5px 0px;
  }
  .gallery-section {
    column-count:         1;
    column-gap:           10px;    
  }
}
